@charsex "utf-8";
body{
width: 820px;
background-color:#E9DED4;
border-left: 10px solid #b0a08f;
border-right: 10px solid #b0a08f;
margin-left: auto;
margin-right: auto;
}
#logo{
	background: blue;
	height: 200px;
}
#logo img{
	float: right;
	width: 410px;
	height: 130px;
	border-radius:10px;	
	margin-top: 20px;
}
#logo h1{
	text-align:left;
	font-family: ALGERIAN;
	font-size: 28px;
}
#timer{
	bottom: 10px;
	right: 2px;
	position: fixed;
	margin: 1px 1px 1px 1px;
}
#menu{
	background: black;
	height: 30px;
	margin-top: -17px;
	margin-bottom: 30px;
	position: fixed;
	
}
#main #left{
	width: 820px;
	float: left;
	min-height: 400px;
	background: #E6E6FA;
	margin-top: 40px;
}
#footer{
	background: #000;
	width: 820px;
	text-align: center;
	height: 60px;
	color: #FFF;
	clear: left;
	line-height: 60px;
}
#menu ul{
	margin: 0px;
	padding: 0px;
	width: 820px;
}
#menu ul li{
	list-style: none;
	float: left;
}
#menu ul li a{
	text-decoration: none;
	display: block;
	height: 22px;
	line-height: 25px;
	color: #fff;
	padding: 4px 59px 4px 59px;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
	text-align: center;
	transition: width 1s, height 1s, transform 2s;
	border-radius:10px;
}
#menu ul li a:hover{
 width: 48px;
  height: 22px;
  background:#58257b;
  transform: rotate(0deg);
  text-align: center;
}
#menu ul li a.vu2{
	background: blue;
}
#main #left ul{
	margin: 0px;
	padding: 0px;
	float:right;
	margin-top: 30px;
}
#main #left ul li{
	list-style: none;
	clear:left ;
}
#main #left ul li img{
	float: right;
	margin-right:10px ;
	width: 400px;
	padding: 15px;
	border-radius:30px;
	margin-left: 400px;
}
#main #left ul h2{
	float: left;
	margin-left: 120px;
	font-size: 16;
	color: green;
	border-radius:10px;
}
#main #left ul h3{
	float: left;
	margin-right: 430px;
	margin-top: -300px;
	margin-left: 30px;
}	